#pongCanvas {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    border: 2px solid #ffffff;
    box-shadow: 0px 0px 10px 2px rgba(255, 255, 255, 0.5);
    z-index: 1;
}

#fxCanvas {
    position: absolute;
    z-index: 2;
}

.is-animated {
    animation: pongEntrance 3s 1 ease-in-out;
}

@keyframes pongEntrance {
    from {
        -webkit-filter: blur(25px);
        transform: translateY(-70vh) rotate3d(1, 0, 0, -80deg);
    }
    to {
        transform: translateY(0vh);
    }
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(45deg, #bd8714, #9f06e6);
    overflow: hidden;
}

#menu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#startButton, #modeButtons button {
    font-size: 20px;
    font-family: 'Press Start 2P', sans-serif;
    padding: 15px 30px;
    border: 2px solid transparent;
    background: linear-gradient(45deg, #bd8714, #9f06e6); /* Gradient background */
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    transition: background 0.3s, border 0.3s, transform 0.3s;
    border-radius: 5px; /* Optional: rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Optional: shadow effect */
    margin: 10px; /* Space between buttons */
    outline: none;
}

#startButton:hover, #modeButtons button:hover {
    background: linear-gradient(45deg, #9f06e6, #bd8714); /* Reverse gradient on hover */
    border: 2px solid #fff; /* Light border on hover */
    transform: scale(1.05); /* Slightly enlarge on hover */
}

#startButton:active, #modeButtons button:active {
    transform: scale(0.98); /* Slightly shrink on click */
}


