:root{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    --back-color: rgb(20, 20, 20);
    --back-color-1: rgb(35, 35, 35);
    --back-color-2: rgb(25, 25, 25);
    --text-color: white;
    --color-1: rgb(255, 150, 0);
    --color-2: rgb(187, 0, 255);
    box-sizing: border-box;
    overflow: hidden;
}

.gameContainer {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;
    background-color: rgb(48, 25, 48);
}

.animateCanvas {
    background-color: black;
    aspect-ratio: 2/1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 2;
}

.gameCanvas {
    background-color: black;
    aspect-ratio: 2/1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 2;
}

.canvasContainer {
    margin: auto;
    aspect-ratio: 2/1;
    width: clamp(400px, 80%, 800px);
    position: relative;
    z-index: 2;
}

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.canvasContainer::after, .canvasContainer::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(from var(--angle), transparent 70%,
        rgb(255, 179, 0), rgb(192, 23, 186), rgb(192, 23, 186), rgb(255, 179, 0));
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: 1;
    padding: 3px;
    animation: 3s spin linear infinite;
}

.canvasContainer::before {
    filter: blur(1.5rem);
    opacity: 0.5;
}

@keyframes spin {
    from {
        --angle: 0deg;
    }
    to {
        --angle: 360deg;
    }
}

.is-animated {
    animation: pongEntrance 2s 1 ease-in-out;
}

@keyframes pongEntrance {
    from {
        transform: translateY(100vh);
    }
    to {
        transform: translateY(0vh);
    }
}

.screenContainer {
    margin: auto;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
}

.endScreen {
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    text-align: center;
    border: 3px solid white;
    box-shadow: 0 0 5px white,
                0 0 10px white,
                0 0 20px white,
                inset 0 0 5px white,
                inset 0 0 10px black,
                inset 0 0 20px white;
    width: 300px;
    height: fit-content;
    padding: 100px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: .2s;
    user-select: none;
}

.endScreen:has(.gamebtn:hover) {
    box-shadow: 0 0 5px rgb(255, 150, 0),
                0 0 10px rgb(255, 150, 0),
                0 0 20px rgb(255, 150, 0),
                inset 0 0 5px black,
                inset 0 0 10px black,
                inset 0 0 20px black;
    border: solid 3px rgb(255, 150, 0);
}

.endScreen .winnerName {
    text-size-adjust: 100%;
    font-size: 50px;
    font-weight: bold;
    color: white;
    margin-bottom: 50px;
}

.endScreen .gamebtn {
    /*aspect-ratio: 2/1;*/
    text-align: center;
    text-decoration: none;
    text-size-adjust: 100%;
    font-size: 20px;
    margin-top: 25px;
    opacity: 1;
    height: fit-content;
    min-width: 150px;
    padding: 5px 10px;
    border: 2px solid white;
    color: white;
    overflow: hidden;
    /* box-shadow: 0 0 10px white,
                0 0 20px white; */
    background: rgb(25, 25, 25);
    cursor: pointer;
    user-select: none;
    transition: .2s ease-in-out;
}

.endScreen .gamebtn:hover {
    transform: translateZ(100px) scale(1.2);
    box-shadow: 0 0 10px rgb(255, 150, 0),
                0 0 50px rgb(255, 150, 0),
                0 0 100px rgb(255, 150, 0);
    background: rgb(255, 150, 0);
    border: solid 2px orange;
    font-weight: bold;
}

.vsMenu {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

/* .vsMenu::after {
    position: absolute;
    content: '';
    left: 50%;
    height: 100vh;
    width: 1px;
    background: white;
} */

.vsMenuReturn {
    position: absolute;
    top: 1vh;
    font-size: 50px;
    color: white;
    text-shadow: 0 0 5px white,
                0 0 10px white;
    transition: .2s;
    user-select: none;
    cursor: pointer;
}

.vsMenuReturn:hover {
    text-shadow: 0 0 5px var(--color-1),
                0 0 10px var(--color-1);
    transform: scale(1.1);
}

.vsTitles {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    margin-bottom: 10vh;
    user-select: none;
    position: relative;
}

.vsTitles .vsPl1 {
    margin-right: 20vw;
    font-size: clamp(30px, 6vw, 88px);
    color: var(--text-color);
    text-shadow:    0 0 5px var(--color-1),
                    0 0 15px var(--color-1);
    transform: translateY(-3vh);
}

.vsTitles .vsPl2 {
    margin-left: 20vw;
    font-size: clamp(30px, 6vw, 88px);
    color: var(--text-color);
    text-shadow:    0 0 5px var(--color-2),
                    0 0 15px var(--color-2);
    transform: translateY(-3vh);
}

.vsTitles .vsVs {
    font-size: clamp(50px, 10vw, 200px);
    /* letter-spacing: 25px; */
    color: var(--text-color);
    text-shadow:    0 0 5px white,
                    0 0 15px white;
    position: absolute;
    transform: translateY(-50px);
}

.vsBtnContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.vsBtn {
    text-align: center;
    text-decoration: none;
    text-size-adjust: 100%;
    font-size: clamp(10px, 3vw, 20px);
    border-radius: 5px;
    border: solid 2px white;
    margin-top: 10px;
    margin-bottom: 10px;
    opacity: 1;
    height: fit-content;
    padding: 2px 5px;
    /* color: var(--text-color); */
    color: black;
    overflow: hidden;
    transform: translateZ(50px);
    box-shadow: 0 0 10px white;
    /* background: var(--back-color-2); */
    background: white;
    cursor: pointer;
    user-select: none;
    transition: .2s ease-in-out;
}

.vsBtn:hover {
    transform: scale(1.1);
    box-shadow: 0 0 5px var(--color-1),
                0 0 15px var(--color-1);
    background: var(--color-1);
    color: white;
    font-weight: bold;
}

.vsBtn:active {
    transition: none;
    transform: scale(1);
    box-shadow: 0 0 5px var(--color-2),
                0 0 15px var(--color-2);
    background: var(--color-2);
}

.vsPowerUps {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -50px;
}

.vsPowerUps .vsInv.Teleportation {
    letter-spacing: 4px;
    margin-right: 3vw;
    color: var(--text-color);
    text-shadow:    0 0 4px var(--text-color);
    filter: brightness(.5);
}

.vsPowerUps .vsInv.Invisibility {
    letter-spacing: 4px;
    margin-right: 3vw;
    color: white;
    text-shadow:    0 0 2px var(--color-1),
                    0 0 8px var(--color-1);
}

.vsPowerUps .vsTel.Invisibility {
    letter-spacing: 2px;
    margin-left: 3vw;
    color: var(--text-color);
    text-shadow:    0 0 4px var(--text-color);
    filter: brightness(.5);
}

.vsPowerUps .vsTel.Teleportation {
    letter-spacing: 2px;
    margin-left: 3vw;
    color: white;
    text-shadow:    0 0 2px var(--color-2),
                    0 0 8px var(--color-2);
}