/* .GameButton {
    font-family: Arial, Helvetica, sans-serif;
}

.GameButton button:hover {
    font-size: 110%;
    color: rgb(255, 255, 255);
    background-color: rgb(63, 63, 63);
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
}*/

/* Add this to your CSS file */
/* .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f8f9fa;
  }
  
  .menu-items {
    display: flex;
    gap: 20px;
  }
  
  .profile-picture {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  
  .profile-picture img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
  } */

  :root{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    --back-color: rgb(20, 20, 20);
    --back-color-1: rgb(35, 35, 35);
    --back-color-2: rgb(25, 25, 25);
    --text-color: white;
    --color-1: rgb(255, 150, 0);
    --color-2: rgb(187, 0, 255);
    overflow: hidden;
}

/* header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #101010;
    z-index: 99;
} */

.logo {
    font-size: 2rem;
    color: white;
    user-select: none;
}

.navigation a {
    position: relative;
    font-size: 1.1rem;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.navigation a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background: white;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    right: 0;
    bottom: -6px;
    transition: transform .5s;
}

.navigation a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

.menu-body {
    margin: 0;
    padding: 0;
    background: var(--back-color);
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    overflow: hidden;
}

/* .menu-body .menu-overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    height: 100vh;
    width: 100vw;
    background: var(--back-color);
    opacity: 1;
    transition: all .5s;
}

.menu-body:has(.centerMenu:hover) .menu-overlay {
    opacity: 0;
}

.overlay-disappear {
    animation: overlay-disappear .5s ease-in-out 1 forwards;
}
.overlay-appear {
    animation: overlay-appear .5s ease-in-out 1 forwards;
}

@keyframes overlay-disappear {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes overlay-appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
} */

.menu-body .centerMenu {
    /*background: var(--color-1);*/
    background: transparent;
    height: 100vh;
    width: 70vw; /*50vw*/
    /*box-shadow: 10px 0px 5px var(--back-color-2),
    -10px 0px 5px var(--back-color-2);*/
    box-shadow: none;
    transition: .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

.menuAnimated {
    animation: menuLeaving 3s ease-in-out 1 forwards;
}

@keyframes menuLeaving {
    0% {
        transform: translateX(0vh);
    }
    100% {
        transform: translateX(200vh);
    }
}

.centerMenu .hoverText {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 30%;
    left: 0;
    opacity: 0; /**/
    transition: .25s ease-in-out;
}

/* svg {
    position: absolute;
    width: 90%;
    top: 0;
    left: 5%;
}

svg path {
    fill: transparent;
    stroke: white;
    stroke-width: .5;
    stroke-dasharray: 50;
    stroke-dashoffset: 50;
    animation: svgText 4s ease-in-out 1 forwards;
}

@keyframes svgText {
    0%{
        stroke-dashoffset: 50;
    }
    80%{
        fill: transparent;
    }
    100% {
        fill: white;
        stroke-dashoffset: 0;
    }
} */
/*
.centerMenu:hover {
    box-shadow: none;
    width: 70vw;
}*/
/*
.centerMenu:hover .hoverText {
    opacity: 0;
}*/

.centerMenu h1 {
    position: absolute;
    top: 10%;
    padding: 25px 40px 25px 40px;
    /* left: 5%; */
    letter-spacing: 4px;
    opacity: 1;
    text-align: center;
    text-decoration: none;
    text-size-adjust: 100%;
    height: fit-content;
    width: max-content;
    font-size: 75px;
    color: var(--text-color);
    margin: auto;
    border: solid 3px white;
    border-radius: 10px;
    background: var(--back-color-2);
    box-shadow: 0 0 5px var(--text-color),
                0 0 10px var(--text-color),
                0 0 25px var(--text-color),
                0 0 35px var(--text-color);
    transition: .2s ease-in-out;
    transform-origin: top 0, left 0;
    cursor: pointer;
    user-select: none;
}

.centerMenu h1:hover {
    transform: scale(1.1);
    box-shadow: 0 0 5px var(--color-1),
                0 0 10px var(--color-1),
                0 0 25px var(--color-1),
                0 0 35px var(--color-1);
}

/*
.centerMenu:hover h1 {
    opacity: 1;
}*/

.centerMenu:has(.btn:hover) h1 {
    color: var(--text-color);
    text-shadow: 0 0 0px #fff, 0 0 10px var(--color-1), 0 0 15px var(--color-1), 0 0 20px var(--color-1);
    box-shadow: none;
}

.centerMenu:has(.btn:active) h1 {
    transition: none;
    color: var(--text-color);
    text-shadow: 0 0 0px #fff, 0 0 10px var(--color-2), 0 0 15px var(--color-2), 0 0 20px var(--color-2);
}
/*
.centerMenu:hover .btn {
    opacity: 1;
}*/

.centerMenu .menuButton {
    /* height: 70%;
    width: 50%; */
    padding: 0;
    margin-top: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    transform-style: preserve-3d;
    transform: perspective(1000px);
}

.menuButton .btn {
    /*aspect-ratio: 2/1;*/
    text-align: center;
    text-decoration: none;
    text-size-adjust: 100%;
    font-size: 50px;
    margin-top: 25px;
    opacity: 1; /**/
    /*width: 300px;*/
    height: fit-content;
    padding: 5px 10px;
    color: var(--text-color);
    overflow: hidden;
    /*letter-spacing: 2px;*/
    transform: translateZ(50px);
    box-shadow: 0 0 10px white;
    background: var(--back-color-2);
    cursor: pointer;
    user-select: none;
    transition: .2s ease-in-out;
}

#buttonLogout {
    z-index: 1;
    position: absolute;
    opacity: 1;
    bottom: 5%;
    right: 10%;
    height: 50px;
    width: 100px;
    color: var(--text-color);
    overflow: hidden;
    letter-spacing: 3px;
    font-weight: bold;
    /*background: var(--color-2);*/
    border: none;
    background: var(--back-color);
    transition: .5s;
}

.menu-body:has(.centerMenu:hover) #buttonLogout {
    right: 5%;
}

#buttonLogout:hover {
    transform: scale(1.2);
    box-shadow: 0 0 10px var(--color-1),
                0 0 50px var(--color-1),
                0 0 100px var(--color-1);
    background: var(--color-1);
}

#buttonLogout:active {
    transition: none;
    background: var(--color-2);
    box-shadow: 0 0 10px var(--color-2),
                0 0 50px var(--color-2),
                0 0 100px var(--color-2);
}

#buttonStart:active, #buttonOptions:active, #buttonProfile:active {
    transition: none;
    background: var(--color-2);
    box-shadow: 0 0 10px var(--color-2),
                0 0 50px var(--color-2),
                0 0 100px var(--color-2);
}

.menuButton .btn:hover {
    transform: translateZ(100px) scale(1.2);
    box-shadow: 0 0 10px var(--color-1),
                0 0 50px var(--color-1),
                0 0 100px var(--color-1);
    background: var(--color-1);
    font-weight: bold;
}

.menuButton .btn:hover + * {
    filter: brightness(.5);
}

.menuButton .btn:hover + * + * {
    filter: brightness(.2);
}

.menuButton .btn:hover + * + * + * {
    filter: brightness(.05);
}

.menuButton .btn:has(+ *:hover) {
    filter: brightness(.5);
}

.menuButton .btn:has(+ * + *:hover) {
    filter: brightness(.2);
}

.menuButton .btn:has(+ * + * + *:hover) {
    filter: brightness(.05);
}

.btn span {
    position: absolute;
    display: block;
}

/* .btn:hover span {
    opacity: 0;
}

.btn span:nth-child(1)
{
    top: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background: linear-gradient(90deg, transparent, var(--color-1));
    animation: anim1 1s infinite;
}
@keyframes anim1 {
    0% {
        left: -100%;
    }
    100% {
        left: 100%;
    }
}
.btn span:nth-child(2)
{
    top: -100%;
    right: 0;
    height: 100%;
    width: 2px;
    background: linear-gradient(180deg, transparent, var(--color-1));
    animation: anim2 1s infinite;
    animation-delay: .25s;
}
@keyframes anim2 {
    0% {
        top: -100%;
    }
    100% {
        top: 100%;
    }
}
.btn span:nth-child(3)
{
    bottom: 0;
    right: 0;
    height: 2px;
    width: 100%;
    background: linear-gradient(270deg, transparent, var(--color-1));
    animation: anim3 1s infinite;
    animation-delay: .5s;
}
@keyframes anim3 {
    0% {
        right: -100%;
    }
    100% {
        right: 100%;
    }
}
.btn span:nth-child(4)
{
    bottom: 0;
    left: 0;
    height: 100%;
    width: 2px;
    background: linear-gradient(360deg, transparent, var(--color-1));
    animation: anim4 1s infinite;
    animation-delay: .75s;
}
@keyframes anim4 {
    0% {
        bottom: -100%;
    }
    100% {
        bottom: 100%;
    }
} */

.border:nth-child(1) {
    z-index: 5;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 10%;
    background: var(--color-2);
    transition: .5s;
}

.border:nth-child(2) {
    z-index: 5;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 10%;
    background: var(--color-1);
    transition: .5s;
}

.menu-body:has(.centerMenu:hover) .border:nth-child(1) {
    width: 5%;
    box-shadow: 0 0 10px var(--color-2),
                0 0 20px var(--color-2),
                0 0 40px var(--color-2),
                0 0 60px var(--color-2);
}

.menu-body:has(.centerMenu:hover) .border:nth-child(2) {
    width: 5%;
    box-shadow: 0 0 10px var(--color-1),
                0 0 20px var(--color-1),
                0 0 40px var(--color-1),
                0 0 60px var(--color-1);
}

.menu-body:has(#buttonLogout:hover) #border:nth-child(1), .menu-body:has(#buttonLogout:hover) #border:nth-child(2) {
    width: 5%;
}

.menu-body:has(.btn:hover) #border:nth-child(1), .menu-body:has(.btn:hover) #border:nth-child(2) {
    opacity: 0;
}

#borderAnim {
    opacity: 0;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    background: linear-gradient(to left, var(--color-1), var(--color-1), transparent, var(--color-2), var(--color-2));
    width: 100%;
    height: 10px;
}

.border-is-animate {
    animation: borderAnim 2.5s infinite forwards;
}

@keyframes borderAnim {
    0%{
        left: -100%;
        background: linear-gradient(to right, var(--color-2), var(--color-2), transparent);
    }
    50%{
        left: 0%;
        background: linear-gradient(to right, transparent, var(--color-2), var(--color-1), var(--color-1),transparent);
    }
    100%{
        left: 100%;
        background: linear-gradient(to right, transparent, var(--color-1), var(--color-1));
    }
}

#borderAnim2 {
    opacity: 0;
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: 0;
    background: linear-gradient(to left, var(--color-1), var(--color-1), transparent, var(--color-2), var(--color-2));
    width: 100%;
    height: 15px;
}

.border2-is-animate {
    animation: borderAnim2 2.5s infinite forwards;
}

@keyframes borderAnim2 {
    0%{
        right: -100%;
        background: linear-gradient(to left, var(--color-1), var(--color-1), transparent);
    }
    50%{
        right: 0%;
        background: linear-gradient(to left, transparent, var(--color-1), var(--color-2), var(--color-2),transparent);
    }
    100%{
        right: 100%;
        background: linear-gradient(to left, transparent, var(--color-2), var(--color-2));
    }
}