:root{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    --back-color: rgb(20, 20, 20);
    --back-color-1: rgb(35, 35, 35);
    --back-color-2: rgb(25, 25, 25);
    --text-color: white;
    --color-1: rgb(255, 150, 0);
    --color-2: rgb(187, 0, 255);
    overflow: hidden;
}

.tournamentContainer {
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* .tournamentContainer::after {
    content: '';
    position: absolute;
    top: 0;
    left: calc(50% - 1px);
    width: 1px;
    height: 100%;
    background: white;
} */

.tournamentMenuReturn {
    position: absolute;
    top: 3vh;
    font-size: 50px;
    color: white;
    text-shadow: 0 0 5px white,
                0 0 10px white;
    transition: .2s;
    user-select: none;
    cursor: pointer;
}

.tournamentMenuReturn:hover {
    text-shadow: 0 0 5px var(--color-1),
                0 0 10px var(--color-1);
    transform: scale(1.1);
}

.tournamentPlayerNames {
    color: white;
    text-shadow: 0 0 10px orange;
    font-size: 50px;
    font-weight: 700;
    margin-top: 20%;
}

.nextgame {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 50px;
    height: fit-content;
    width: fit-content;
}

.playerInput {
    width: 200px;
    height: 40px;
    border: none;
    outline: none;
    font-size: 20px;
    color: white;
    font-weight: 600;
    padding: 0 35px 0 5px;
    position: absolute;
    border-radius: 10px;
    z-index: 5;
}

.playerInput:focus {
    border-bottom: 3px solid rgb(145, 88, 23);
}

/* .playerInput:nth-child(even) {
    left: calc(30vw - 200px);
    top: calc((var(--index) * 50px) + 25vh);
} */

.playerInput:nth-child(2) {
    left: calc(30vw - 200px);
    top: calc((var(--index) * 50px) + 25vh);
    background: var(--back-color);
}

.playerInput:nth-child(3) {
    left: calc(30vw - 200px);
    top: calc(((var(--index) + 1) * 50px) + 25vh);
    background: var(--back-color);
}

.playerInput:nth-child(4) {
    left: calc(30vw - 200px);
    top: calc(((var(--index) + 2) * 50px) + 25vh);
    background: white;
    color: var(--back-color);
}

.playerInput:nth-child(5) {
    left: calc(30vw - 200px);
    top: calc(((var(--index) + 3) * 50px) + 25vh);
    background: white;
    color: var(--back-color);
}

/* .playerInput:nth-child(odd) {
    left: 70vw;
    top: calc(((var(--index) - 1) * 50px) + 25vh);
} */

.playerInput:nth-child(6) {
    left: 70vw;
    top: calc(((var(--index) - 4) * 50px) + 25vh);
    background: white;
    color: var(--back-color);
}

.playerInput:nth-child(7) {
    left: 70vw;
    top: calc(((var(--index) - 3) * 50px) + 25vh);
    background: white;
    color: var(--back-color);
}

.playerInput:nth-child(8) {
    left: 70vw;
    top: calc(((var(--index) - 2) * 50px) + 25vh);
    background: var(--back-color);
}

.playerInput:nth-child(9) {
    left: 70vw;
    top: calc(((var(--index) - 1) * 50px) + 25vh);
    background: var(--back-color);
}

.playerInput:nth-child(2) {
    --index: 1;
}
.playerInput:nth-child(3) {
    --index: 2;
}
.playerInput:nth-child(4) {
    --index: 3;
}
.playerInput:nth-child(5) {
    --index: 4;
}
.playerInput:nth-child(6) {
    --index: 5;
}
.playerInput:nth-child(7) {
    --index: 6;
}
.playerInput:nth-child(8) {
    --index: 7;
}
.playerInput:nth-child(9) {
    --index: 8;
}

.startTournamentBtn {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    aspect-ratio: 1/1;
    text-size-adjust: 100%;
    font-size: clamp(20px, 2vw, 40px);
    font-weight: 700;
    padding: 10px;
    border: solid 2px rgb(172, 172, 172);
    border-radius: 50%;
    background: white;
    box-shadow: 0 0 5px gray,
                0 0 15px gray;
    color: black;
    mix-blend-mode: screen;
    z-index: 10;
    transition: .5s;
}


.startTournamentBtn:hover {
    transform: translateX(-50%) scale(1.16);
}

.bracket {
    position: absolute;
    top: calc(39% - 1.5px);
    left: 50%;
    transform: translateX(-50%);
    aspect-ratio: 1/1;
    text-size-adjust: 100%;
    font-size: clamp(20px, 2vw, 40px);
    font-weight: 700;
    padding: 20px;
    border: solid 3px white;
    border-radius: 50%;
    background: transparent;
    box-shadow: 0 0 5px gray,
                0 0 15px gray,
                inset 0 0 2px white,
                inset 0 0 5px white,
                inset 0 0 15px white,
                inset 0 0 30px white;
    color: transparent;
    z-index: 1;
}

.bracket::after {
    content: '';
    position: absolute;
    top: 50%;
    right: -120%;
    /* width: 200px; */
    width: 120%;
    height: 3px;
    background: white;
}

.bracket::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -120%;
    width: 120%;
    height: 3px;
    background: white;
}

.bracket2 {
    position: absolute;
    top: calc(38% - 6px);
    left: 50%;
    transform: translateX(-50%);
    width: 950px;
    height: 3px;
    background: transparent;
    z-index: 1;
}

.bracket2::after {
    content: '';
    position: absolute;
    right: 0;
    top: -50px;
    width: 3px;
    height: 100px;
    background: white;
}

.bracket2::before {
    content: '';
    position: absolute;
    left: 0;
    top: -50px;
    width: 3px;
    height: 100px;
    background: white;
}

.bracket3 {
    position: absolute;
    top: calc(59% - 3px);
    left: 50%;
    transform: translateX(-50%);
    width: 950px;
    height: 3px;
    background: transparent;
}

.bracket3::after {
    content: '';
    position: absolute;
    right: 0;
    top: -50px;
    width: 3px;
    height: 100px;
    background: white;
}

.bracket3::before {
    content: '';
    position: absolute;
    left: 0;
    top: -50px;
    width: 3px;
    height: 100px;
    background: white;
}

.bracket4 {
    position: absolute;
    top: calc(59% - 3px);
    left: 50%;
    transform: translateX(-50%);
    width: 950px;
    height: 3px;
    background: transparent;
}

.bracket4::after {
    content: '';
    position: absolute;
    right: -5px;
    top: -6px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: white;
}

.bracket4::before {
    content: '';
    position: absolute;
    left: -5px;
    top: -6px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: white;
}

.bracket5 {
    position: absolute;
    top: calc(38% - 6px);
    left: 50%;
    transform: translateX(-50%);
    width: 950px;
    height: 3px;
    background: transparent;
}

.bracket5::after {
    content: '';
    position: absolute;
    right: -5px;
    top: -6px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: white;
}

.bracket5::before {
    content: '';
    position: absolute;
    left: -5px;
    top: -6px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: white;
}

.bracket6 {
    position: absolute;
    top: calc(38% - 6px);
    left: 50%;
    transform: translateX(-50%);
    width: 575px;
    height: 3px;
    background: transparent;
    z-index: 1;
}

.bracket6::after {
    content: '';
    position: absolute;
    right: 0;
    width: 3px;
    height: 100px;
    background: white;
}

.bracket6::before {
    content: '';
    position: absolute;
    left: 0;
    width: 3px;
    height: 100px;
    background: white;
}

.bracket7 {
    position: absolute;
    top: calc(38% - 6px);
    left: 50%;
    transform: translateX(-50%);
    width: 575px;
    height: 3px;
    background: transparent;
    z-index: 1;
}

.bracket7::after {
    content: '';
    position: absolute;
    right: -180px;
    width: 180px;
    height: 3px;
    background: white;
}

.bracket7::before {
    content: '';
    position: absolute;
    left: -180px;
    width: 180px;
    height: 3px;
    background: white;
}

.bracket8 {
    position: absolute;
    top: calc(38% - 6px);
    left: 50%;
    transform: translateX(-50%);
    width: 575px;
    height: 3px;
    background: transparent;
    z-index: 1;
}

.bracket8::after {
    content: '';
    position: absolute;
    right: -5px;
    top: -6px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: white;
}

.bracket8::before {
    content: '';
    position: absolute;
    left: -5px;
    top: -6px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: white;
}

.bracket9 {
    position: absolute;
    top: calc(59% - 3px);
    left: 50%;
    transform: translateX(-50%);
    width: 575px;
    height: 3px;
    background: transparent;
    z-index: 1;
}

.bracket9::after {
    content: '';
    position: absolute;
    right: 0;
    top: -100px;
    width: 3px;
    height: 100px;
    background: white;
}

.bracket9::before {
    content: '';
    position: absolute;
    left: 0;
    top: -100px;
    width: 3px;
    height: 100px;
    background: white;
}

.bracket10 {
    position: absolute;
    top: calc(59% - 3px);
    left: 50%;
    transform: translateX(-50%);
    width: 575px;
    height: 3px;
    background: transparent;
    z-index: 1;
}

.bracket10::after {
    content: '';
    position: absolute;
    right: -180px;
    width: 180px;
    height: 3px;
    background: white;
}

.bracket10::before {
    content: '';
    position: absolute;
    left: -180px;
    width: 180px;
    height: 3px;
    background: white;
}

.bracket11 {
    position: absolute;
    top: calc(59% - 3px);
    left: 50%;
    transform: translateX(-50%);
    width: 575px;
    height: 3px;
    background: transparent;
    z-index: 1;
}

.bracket11::after {
    content: '';
    position: absolute;
    right: -5px;
    top: -6px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: white;
}

.bracket11::before {
    content: '';
    position: absolute;
    left: -5px;
    top: -6px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: white;
}

.bracket12 {
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translateX(-50%);
    width: 575px;
    height: 3px;
    background: transparent;
    z-index: 1;
}

.bracket12::after {
    content: '';
    position: absolute;
    right: -5px;
    top: -6px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: white;
}

.bracket12::before {
    content: '';
    position: absolute;
    left: -5px;
    top: -6px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: white;
}

/* .bracketRender {
    position: absolute;
    top: 2%;
    left: 2%;
    z-index: 100;
} */
.currentMatch {
    position: absolute;
    top: 24.5%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
    color: white;
    font-size: 25px;
    letter-spacing: 3px;
}

.screenContainer {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
}

.endScreen {
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    text-align: center;
    border: 3px solid white;
    box-shadow: 0 0 5px white,
                0 0 10px white,
                0 0 20px white,
                inset 0 0 5px white,
                inset 0 0 10px black,
                inset 0 0 20px white;
    width: 300px;
    height: fit-content;
    padding: 100px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: .2s;
    user-select: none;
}

.endScreen:has(.gamebtn:hover) {
    box-shadow: 0 0 5px rgb(255, 150, 0),
                0 0 10px rgb(255, 150, 0),
                0 0 20px rgb(255, 150, 0),
                inset 0 0 5px black,
                inset 0 0 10px black,
                inset 0 0 20px black;
    border: solid 3px rgb(255, 150, 0);
}

.endScreen .winnerName {
    text-size-adjust: 100%;
    font-size: 50px;
    font-weight: bold;
    color: white;
    margin-bottom: 50px;
}

.endScreen .gamebtn {
    /*aspect-ratio: 2/1;*/
    text-align: center;
    text-decoration: none;
    text-size-adjust: 100%;
    font-size: 20px;
    margin-top: 25px;
    opacity: 1;
    height: fit-content;
    min-width: 150px;
    padding: 5px 10px;
    border: 2px solid white;
    color: white;
    overflow: hidden;
    /* box-shadow: 0 0 10px white,
                0 0 20px white; */
    background: rgb(25, 25, 25);
    cursor: pointer;
    user-select: none;
    transition: .2s ease-in-out;
}

.endScreen .gamebtn:hover {
    transform: translateZ(100px) scale(1.2);
    box-shadow: 0 0 10px rgb(255, 150, 0),
                0 0 50px rgb(255, 150, 0),
                0 0 100px rgb(255, 150, 0);
    background: rgb(255, 150, 0);
    border: solid 2px orange;
    font-weight: bold;
}

.bracketWrapper {
    position: absolute;
    display: flex;
    flex-direction: column;
    background: rgba(70, 70, 70, 0.562);
    color: white;
    align-items: center;
    width: 400px;
    height: 150px;
    top: 8%;
    left: 50%;
    transform: translateX(-50%);
    border: solid 2px white;
    border-radius: 3px;
    box-shadow: inset 0 0 5px black,
                inset 0 0 15px black;
    backdrop-filter: blur(10px);
    overflow-y: scroll;
    /* scrollbar-width: thin; */
    padding: 10px 0 30px 0;
    z-index: 999;
}

.bracketContent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bracketTitle {
    font-weight: bold;
    font-size: 30px;
}

.bracketMatch {
    font-weight: 600;
    font-size: 20px;
}